.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  color: var(--white);
  border-radius: 2px;
  transition: 0.3s;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--primary-color);
}

.btn__primary:hover {
  background-color: var(--primary-color-dark);
}

.btn__secondary {
  background-color: transparent;
  border: 1px solid var(--white);
}

.btn__secondary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
