.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo img {
  margin-bottom: 1rem;
  max-width: 120px;
}

.footer__col p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--white);
}

.footer__links a span {
  margin-right: 10px;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--white);
}

.gallery__grid {
  max-width: 275px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.footer__col form {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 2px;
}

.footer__col input {
  width: 100%;
  padding-inline: 1rem;
  outline: none;
  border: none;
  color: var(--text-dark);
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer__socials a {
  padding: 5px 10px;
  font-size: 1.25rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}
