.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container {
  padding-block: 10rem;
  display: grid;
}

.header__content h1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  line-height: 5rem;
  color: var(--primary-color);
}

.header__content h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  line-height: 3rem;
  color: var(--white);
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--extra-light);
}
