.trainer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.trainer__card img {
  margin-bottom: 1rem;
}

.trainer__card h4 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.trainer__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  text-align: center;
}

.trainer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.trainer__socials a {
  font-size: 1.25rem;
  color: var(--text-light);
}

.trainer__socials a:hover {
  color: var(--primary-color);
}
